* {
    margin: 0;
	padding: 0;
    font-size: 16px;

}

:root {
    --navy: #0D1B2A;
    --dark-blue: #1B263B;
    --blue: #415A77;
    --light-blue: #778DA9;
    --cream: #E0E1DD;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: var(--cream);
}

/* NAV */
nav {
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: var(--navy);
    z-index: 1;
    color: var(--cream);
}

.logo-div {
    position: absolute;
    height: 50px;
    display: flex;
    text-align: left;
    align-items: center;
    margin-left: auto;
}

.nav-list {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
}

li {
    list-style: none;
    display: inline-flex;
    text-align: center;
    margin: 0px 5px;
    padding: 10px 10px;
    border: 2px solid var(--cream);
    border-radius: 10px;
    background-color: var(--navy);
    color: var(--cream);
    text-transform: uppercase;
    font-family: 'Mukta', sans-serif;
}

.contact-button {
    margin-right: 25px;
}

a:active, a:visited {
    color: var(--cream);
    text-decoration: none;
}

a:link {
    color: var(--cream);
    text-decoration: none;
}

li:hover {
    background-color: var(--blue);
    color: var(--navy);
    border: 2px solid var(--cream);
    cursor: pointer;
}

/* HEADER */
header {
    margin-top: 70px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--blue);
    color: var(--cream);
    border-bottom: 5px solid var(--navy);
}

header h1 {
    text-transform: uppercase;
    margin: 20px auto;
}

/* MISSION */
#mission {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--cream);
    color: var(--navy);
}

#mission p {
    width: 70%;
}

/* PRODUCTS */
#products {
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
    padding-top: 30px;
    background-color: var(--cream);
    color: var(--navy);
}

.products {
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
    gap: 10px 50px;
    text-align: center;
}

#products h2 {
    color: var(--blue);
    text-decoration: underline;
}

.product-top h3 {
    padding-bottom: 5px;
    padding-top: 5px;
}

.product-top p {
    padding-bottom: 30px;
}

/* WHO WE ARE */
#who-we-are {
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
    padding-top: 70px;
    background-color: var(--cream);
    color: var(--navy);
}

.employees {
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-auto-flow: row;
    gap: 10px 50px;
    text-align: center;
}

#who-we-are h2 {
    color: var(--blue);
    text-decoration: underline;
}

.employee-top h3 {
    padding-top: 5px;
}

.employee-top strong {
    padding-bottom: 5px;
}

/* CONTACT */
#contact {
    margin: 0 auto;
    width: 80%;
    min-width: 300px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#contact h2 {
    color: var(--blue);
    text-decoration: underline;
}

#contact p {
    padding-bottom: 5px;
}

#contact a {
    color: var(--navy);
}

#contact a:hover {
    color: var(--blue);
    text-decoration: underline;
}

/* FOOTER */
footer {
    display: block;
    margin-top: auto;
    padding-right: 10px;
    justify-content: center;
    text-align: right;
    background-color: var(--navy);
    color: var(--cream);
}

footer a:hover {
    text-decoration: line-through;
    color: #E63946;
}

footer em {
    font-size: 0.75rem;
}

footer a {
    font-size: 0.75rem;
}

/* TEXT */
h1 {
    font-size: 5rem;
    display: inline-block;
    font-family: 'Staatliches', sans-serif;
}

h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: 'Staatliches', sans-serif;
    margin-bottom: 15px;
}

h3 {
    font-size: 1.75rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Staatliches', sans-serif;
}

p {
    font-family: 'Mukta', sans-serif;
}

/* IMAGES */
img {
    width: 100%;
}

.products-img, .employees-img {
    border: 3px solid var(--navy);
    border-radius: 20px;
}

.products-img:hover, .employees-img:hover {
    transition: box-shadow .5s;
    box-shadow: -7px 7px var(--blue);
}

.employees-img {
    height: 500px;
}

/* MEDIA DISPLAY */
@media only screen and (max-width: 900px) {
    .employees-img {
        width: 100%;
        height: 200px;
    }
}

@media only screen and (max-width: 480px) {
    header {
        height: 200px;
    }
    #mission {
        height: 150px;
        padding-top: 50px;
    }
    #products {
        padding-top: 50px;
    }
    #who-we-are {
        padding-top: 20px;
    }
    #contact {
        padding-top: 50px;
    }
    .employees-img {
        width: 100%;
        height: 100px;
    }
    #contact {
        padding-bottom: 20px;
    }
    .products, .employees {
        grid-gap: 0px 15px;
    }
}

/* MEDIA TEXT */
@media only screen and (max-width: 480px) {
    nav li {
        display: none;
    }
    h1 {
        font-size: 2rem;
        display: none;
    }
    h2 {
        font-size: 1.4rem;
        margin-bottom: 5px;
    }
    h3 {
        font-size: 1.25rem;
    }
    .product-top h3 {
        padding-bottom: 0px;
    }
    p, a, strong, em {
        font-size: 0.6rem;
    }
    footer em, footer a {
        font-size: 0.5rem;
    }
} 

@media only screen and (max-width: 700px) {
    nav li {
        display: none;
    }